.bg-container {
  background-color: #152850;
  min-height: 100vh;
}

.artist-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  height: 450px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 100px;
}

.artist-name {
  font-family: 'Roboto';
  color: white;
  font-size: 42px;
  font-weight: bold;
}

.artist-info {
  font-family: 'Roboto';
  color: white;
  font-size: 32px;
  font-weight: 400;
}
.playlist-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.playlist-heading {
  font-family: 'Roboto';
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.search-input {
  height: 30px;
  width: 18%;
  padding-left: 15px;
  color: #cbd5e1;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.music-list {
  padding: 0px;
  margin-right: 50px;
  margin-left: 50px;
}

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-songs-text {
  font-family: 'Roboto';
  color: white;
  font-size: 32px;
  font-weight: bold;
}
